sudo: false

language: go

go:
  - 1.7.x
  - 1.8.x
  - tip

branches:
  only:
  - master
  - develop

os:
  - linux

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

before_install:
  - go get pkg.re/essentialkaos/ek.v6
  - go get pkg.re/check.v1

script:
  - go test -v
